<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>

<!--发布改动1 http或者https链接的ipa文件地址 -->
     <string>http://47.122.9.74:8072/appPublish/__UNI__4D8B604__20231213162512.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>full-size-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>

     <!-- http或者https链接的应用图标 正常尺寸 （都用一个也行, 分辨率没强制要求）-->
     <string>http://47.122.9.74:8072/appPublish/app/shangsi_logo.png</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>

     <!-- http或者https链接的应用图标，最小尺寸 （都用一个也行, 分辨率没强制要求） -->
     <string>http://47.122.9.74:8072/appPublish/app/shangsi_logo.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>

    <!-- BundleID，应用的包名 -->
    <string>uni.UNI4D8B604</string>
    <key>bundle-version</key>

<!--发布改动2  版本号 -->
    <string>1.0.3</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>

    <!-- 安装app时的提示名称 -->
    <string>华润上思骨料</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
